In [1]:
!pip install chembl_webresource_client

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting chembl_webresource_client
  Downloading chembl_webresource_client-0.10.8-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 2.1 MB/s
Collecting requests-cache~=0.7.0
  Downloading requests_cache-0.7.5-py3-none-any.whl (39 kB)
Requirement already satisfied: easydict in /usr/local/lib/python3.8/dist-packages (from chembl_webresource_client) (1.10)
Requirement already satisfied: requests>=2.18.4 in /usr/local/lib/python3.8/dist-packages (from chembl_webresource_client) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from chembl_webresource_client) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.18.4->chembl_webresource_client) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.18.4->chembl_webresource_client) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.18.4->chembl_webresource_client) (2022.12.7)
Collecting itsdangerous>=2.0.1
  Downloading itsdangerous-2.1.2-py3-none-any.whl (15 kB)
Collecting attrs<22.0,>=21.2
  Downloading attrs-21.4.0-py2.py3-none-any.whl (60 kB)
     |████████████████████████████████| 60 kB 6.9 MB/s
Collecting url-normalize<2.0,>=1.4
  Downloading url_normalize-1.4.3-py2.py3-none-any.whl (6.8 kB)
Requirement already satisfied: pyyaml>=5.4 in /usr/local/lib/python3.8/dist-packages (from requests-cache~=0.7.0->chembl_webresource_client) (6.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from url-normalize<2.0,>=1.4->requests-cache~=0.7.0->chembl_webresource_client) (1.15.0)
Installing collected packages: url-normalize, itsdangerous, attrs, requests-cache, chembl-webresource-client
  Attempting uninstall: itsdangerous
    Found existing installation: itsdangerous 1.1.0
    Uninstalling itsdangerous-1.1.0:
      Successfully uninstalled itsdangerous-1.1.0
  Attempting uninstall: attrs
    Found existing installation: attrs 22.1.0
    Uninstalling attrs-22.1.0:
      Successfully uninstalled attrs-22.1.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
flask 1.1.4 requires itsdangerous<2.0,>=0.24, but you have itsdangerous 2.1.2 which is incompatible.
Successfully installed attrs-21.4.0 chembl-webresource-client-0.10.8 itsdangerous-2.1.2 requests-cache-0.7.5 url-normalize-1.4.3

In [86]:
from chembl_webresource_client.new_client import new_client
import numpy as np
drug = new_client.drug
d0 = drug.filter(withdrawn_reason__isnull= False).only([ 'withdrawn_year' ,'first_approval'])

In [88]:
import pandas as pd
d0 = pd.DataFrame(d0)
d0=d0.dropna(subset=['withdrawn_year', 'first_approval'])
print(d0)

    applicants atc_code_description  first_approval research_codes synonyms  \
0         None                 None          1997.0           None     None
1         None                 None          1999.0           None     None
4         None                 None          1950.0           None     None
5         None                 None          1973.0           None     None
7         None                 None          1979.0           None     None
..         ...                  ...             ...            ...      ...
116       None                 None          1961.0           None     None
124       None                 None          1980.0           None     None
125       None                 None          1992.0           None     None
140       None                 None          1979.0           None     None
142       None                 None          2001.0           None     None

     withdrawn_year
0            1997.0
1            2006.0
4            1980.0
5            1980.0
7            1980.0
..              ...
116          2007.0
124          1987.0
125          1993.0
140          2005.0
142          2011.0

[67 rows x 6 columns]

we need 'withdrawn_year' and 'first_approval'

In [89]:
d0.head()

,applicants,atc_code_description,first_approval,research_codes,synonyms,withdrawn_year
0,None,None,1997.0,None,None,1997.0
1,None,None,1999.0,None,None,2006.0
4,None,None,1950.0,None,None,1980.0
5,None,None,1973.0,None,None,1980.0
7,None,None,1979.0,None,None,1980.0

In [102]:
l = d0['first_approval']
l2 = d0['withdrawn_year']

In [103]:
len(l), len(l2), type(l)

(67, 67, pandas.core.series.Series)

In [106]:
l = [i for i in l]
l2 = [i for i in l2]
type(l)

list

In [107]:
for i in range(67):
  w = l2[i]
  a = l[i]
  print(w-a)

0.0
7.0
30.0
7.0
1.0
3.0
43.0
-9.0
5.0
19.0
0.0
2.0
2.0
6.0
4.0
2.0
13.0
11.0
5.0
3.0
4.0
62.0
14.0
3.0
0.0
21.0
45.0
5.0
11.0
3.0
1.0
2.0
44.0
11.0
5.0
8.0
5.0
1.0
22.0
0.0
24.0
48.0
1.0
0.0
5.0
3.0
13.0
4.0
35.0
6.0
8.0
7.0
9.0
36.0
9.0
-13.0
2.0
6.0
10.0
14.0
57.0
-13.0
46.0
7.0
1.0
26.0
10.0